body {
  background-color: #f8fafc;
}

a.active {
  font-weight: bold;
  color: lightcoral;
}

.form-error {
  color: red;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 5px;
}

.alert {
  color: white;
  padding: 10px;
}

.alert.alert-success {
  background-color: green;
}
